<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="filter">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="dateToday" [matDatepicker]="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker  #date></mat-datepicker>
  </mat-form-field>
<table mat-table [dataSource]="entitys| filterSearch: 'name': filter" class="mat-elevation-z8">            
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="joiningDate">
        <th mat-header-cell *matHeaderCellDef> Joining Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="monthName">
        <th mat-header-cell *matHeaderCellDef> Month </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.monthName}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="feeAmount">
        <th mat-header-cell *matHeaderCellDef> Fee Amount </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.feeAmount}}
        </td>
    </ng-container>
    <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef> Payment </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon (click)="payment(element)" *ngIf="!element.March">edit</mat-icon>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="selectedRow?.id == row.id?'highlight':''"
(click)="highlight(row)" ></tr>
</table>