<button mat-fab class="contact-add-btn" (click)="add()">
    <mat-icon>person_add</mat-icon>
</button>
<button mat-icon-button (click)="update()" *ngIf="selectedRow">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="update()" *ngIf="selectedRow">
        <mat-icon>delete</mat-icon>
 </button>
<table mat-table [dataSource]="entitys" class="mat-elevation-z8">            
    <ng-container matColumnDef="rollNumber">
        <th mat-header-cell *matHeaderCellDef> Roll Number </th>
        <td mat-cell *matCellDef="let element"> {{element.rollNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="fatherName">
        <th mat-header-cell *matHeaderCellDef> Father Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fatherName}} </td>
    </ng-container>
    <ng-container matColumnDef="motherName">
        <th mat-header-cell *matHeaderCellDef> Mother Name </th>
        <td mat-cell *matCellDef="let element"> {{element.motherName}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="joiningDate">
        <th mat-header-cell *matHeaderCellDef> Joining Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="batch">
        <th mat-header-cell *matHeaderCellDef> Batch </th>
        <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
    </ng-container>
    <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef> Class </th>
        <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>
    <ng-container matColumnDef="board">
        <th mat-header-cell *matHeaderCellDef> Board </th>
        <td mat-cell *matCellDef="let element"> {{element.board}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="selectedRow?.id == row.id?'highlight':''"
(click)="highlight(row)" ></tr>
</table>