<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="filter">
  </mat-form-field>
<table mat-table [dataSource]="entitys| filterSearch: 'name': filter" class="mat-elevation-z8">            
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="joiningDate">
        <th mat-header-cell *matHeaderCellDef> Joining Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="January">
        <th mat-header-cell *matHeaderCellDef> January </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.January}} 
            <mat-icon *ngIf="element.January" (click)="receipt(element, 'January')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'January')" *ngIf="!element.January">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="February">
        <th mat-header-cell *matHeaderCellDef> February </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.February}}
            <mat-icon *ngIf="element.February" (click)="receipt(element, 'February')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'February')" *ngIf="!element.February">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="March">
        <th mat-header-cell *matHeaderCellDef> March </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.March}}
            <mat-icon *ngIf="element.March" (click)="receipt(element, 'March')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'March')" *ngIf="!element.March">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="April">
        <th mat-header-cell *matHeaderCellDef> April </th>
        <td mat-cell *matCellDef="let element">
            {{element.April}}
            <mat-icon *ngIf="element.April" (click)="receipt(element, 'April')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'April')" *ngIf="!element.April">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="May">
        <th mat-header-cell *matHeaderCellDef> May </th>
        <td mat-cell *matCellDef="let element">
            {{element.May}}
            <mat-icon *ngIf="element.May" (click)="receipt(element, 'May')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'May')" *ngIf="!element.May">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="June">
        <th mat-header-cell *matHeaderCellDef> June </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.June}}
            <mat-icon *ngIf="element.June" (click)="receipt(element, 'June')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'June')" *ngIf="!element.June">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="July">
        <th mat-header-cell *matHeaderCellDef> July </th>
        <td mat-cell *matCellDef="let element">
            {{element.July}}
            <mat-icon *ngIf="element.July" (click)="receipt(element, 'July')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'July')" *ngIf="!element.July">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="August">
        <th mat-header-cell *matHeaderCellDef> August </th>
        <td mat-cell *matCellDef="let element">
            {{element.August}}
            <mat-icon *ngIf="element.August" (click)="receipt(element, 'August')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'August')" *ngIf="!element.August">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="September">
        <th mat-header-cell *matHeaderCellDef> September </th>
        <td mat-cell *matCellDef="let element">
            {{element.September}}
            <mat-icon *ngIf="element.September" (click)="receipt(element, 'September')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'September')" *ngIf="!element.September">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="October">
        <th mat-header-cell *matHeaderCellDef> October </th>
        <td mat-cell *matCellDef="let element">
            {{element.October}}
            <mat-icon *ngIf="element.October" (click)="receipt(element, 'October')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'October')" *ngIf="!element.October">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="November">
        <th mat-header-cell *matHeaderCellDef> November </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.November}}
            <mat-icon *ngIf="element.November" (click)="receipt(element, 'November')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'November')" *ngIf="!element.November">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="December">
        <th mat-header-cell *matHeaderCellDef> December </th>
        <td mat-cell *matCellDef="let element">
            {{element.December}}
            <mat-icon *ngIf="element.December" (click)="receipt(element, 'December')">receipt</mat-icon>
            <mat-icon (click)="payment(element, 'December')" *ngIf="!element.December">edit</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="totalAmont">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.totalAmont}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="selectedRow?.id == row.id?'highlight':''"
(click)="highlight(row)" ></tr>
</table>